@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.wrapper {
  max-width: 1000px;
  padding: 0px 20px;
  margin: 0px auto;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}
